.carousel-item {
    height: 80vh;
    background-size: cover;
    background-position: center;
    position: relative;
}

.carousel-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

.carousel-content h5 {
    font-weight: normal;
    color: #999;
}

.carousel-content h2 {
    font-weight: bold;
    margin: 10px 0;
}

.carousel-content p {
    margin-bottom: 10px;
}

.about-me {
    background-color: white;
    border: 1px solid #e6e6e6;
    border-radius: 8px;
    max-width: 300px;
    margin: 0 auto;
}

.about-me h3 {
    font-weight: bold;
}

.about-me p {
    font-size: 14px;
    color: #777;
}

.signature {
    font-style: italic;
    color: #333;
}

.social-icons a {
    color: #333;
    font-size: 18px;
}

.sidebar .about-me img {
    display: flex;
    border-radius: 50%;
    max-width: 100%;
}

.sidebar .social-icons a {
    color: #333;
    margin: 0 5px;
}